.DS_Store
*.swp
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
lib
lib64
*~
*.log
build
*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
bin
evelop-eggs
downloads
ake-eggs
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
*.pyc
*.pyo
*.tmp*
