.DS_Store
*.swp
.installed.cfg
bin
*.gwt
src/ui/admin-gwt/war/Iskdaemon_admin/*
develop-eggs
isk-db
dist
downloads
eggs
parts
lib64
.settings
*~
*.log
build
*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
bin
evelop-eggs
downloads
ake-eggs
.installed.cfg
.mr.developer.cfg
.hg
*.deb
*.data
*.rpm
*.bzr
*.db
epyhtml
src/imgSeekLib/imgdb.py
src/imgSeekLib/imgdb_wrap.cpp
.svn
*.pyc
*.pyo
*.tmp*
Setup.exe
3rd
classes
deploy
Iskdaemon_admin
gwt-unitCache
