/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #243560;
  margin: 10px 0px 10px;
  text-align: center;
}

.dotted {
	border-style:dotted;
	border-width:1px;	
}
