include imgSeekLib/*.so
include imgSeekLib/*.pyd
include README.html
include AUTHORS
include COPYING
include ImageMagick-License.txt
recursive-include docs *
recursive-include www *
prune .svn 
prune */.svn
prune */*/.svn
prune */*/*/.svn
prune */*/*/*/.svn
global-exclude *~
global-exclude *.tmp
global-exclude *.bak
global-exclude *.pyc
global-exclude test/*
global-exclude *.old
