include AUTHORS.txt
include COPYING.txt
include ImageMagick-License.txt
recursive-include api-docs *
recursive-include www *
recursive-include test *
prune .svn 
prune */.svn
prune */*/.svn
prune */*/*/.svn
prune */*/*/*/.svn
global-exclude *~
global-exclude *.tmp
global-exclude *.bak
global-exclude *.pyc
global-exclude *.old
