include *.txt
include *.nsi
include *.conf
include *.spec
include test*
recursive-include api-docs *
recursive-include test *

include imgSeekLib/*.h

include ui/admin-gwt/.project
include ui/admin-gwt/.classpath
recursive-include ui/admin-gwt/src *
recursive-include ui/admin-www *
recursive-include debian *
prune ui/admin-gwt/war
prune ui/admin-gwt/gwt-unitCache
prune ui/admin-gwt/.gwt

global-exclude *~
global-exclude *.tmp
global-exclude *.bak
global-exclude *.pyc
global-exclude *.old
global-exclude *.DS_Store
global-exclude *war*
